<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <style>
        .download{
            color : white;
            background-color: blue;
        }
    </style>
</head>
<body>
<div>
    {% if message == None %}
    <a class="download" href="{{ docx_file }}">Télécharger le HTML </a>
    <div>
        {{ docx_file }}
    </div>
    <form action="{% url 'conversion' docxfile=docx_file %}" method="post" >
        {% csrf_token %}
        <button type="submit">
             Convertir
        </button>
    </form>
    {% else %}
        <div>
          {{ message }}
        </div>
    {% endif %}
</div>
</body>
</html>